<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CRUDSuite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="handson.GET_844542"/>     
         <class name="handson.PUT_844542"/>
          <class name="handson.POST_844542"/>
            <class name="handson.DELETE_844542"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- CRUDSuite -->
